/*	############################################################################
	Config
	############################################################################
*/

/* Grid setup */
$-blueprint-grid-columns:24;
$-blueprint-grid-width:30px;
$-blueprint-grid-gutter:10px;

/*	############################################################################
	Main Modules
	############################################################################
*/
@import "src/_reset", "src/_grid", "src/_forms", "src/_typography";

/*	############################################################################
	Plugins
	############################################################################
*/
@import "plugins/_css3";