/*	############################################################################
	Config
	############################################################################
*/

/* Grid setup */
$-blueprint-grid-columns: 24 !default;
$-blueprint-grid-width: 30px !default;
$-blueprint-grid-gutter: 10px !default;

/*	############################################################################
	Main Modules
	############################################################################
*/
@import "src/_reset", "src/_grid", "src/_forms", "src/_typography";

/*	############################################################################
	Plugins
	############################################################################
*/
@import "plugins/_css3";